In [2]:
import pandas as pd

In [7]:
train_df = pd.read_csv('output/simple_ratio_correct_55_false_negatives.csv').dropna()
train_df.head()

,Unnamed: 0,id,qid1,qid2,question1,question2,is_duplicate,simple_ratio,partial_ratio,token_sort_ratio,...,token_sort_ratio_correct_85,token_set_ratio_correct_85,simple_ratio_correct_90,partial_ratio_correct_90,token_sort_ratio_correct_90,token_set_ratio_correct_90,simple_ratio_correct_95,partial_ratio_correct_95,token_sort_ratio_correct_95,token_set_ratio_correct_95
0,0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,93,98,93,...,False,False,False,False,False,False,True,False,True,False
1,1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,65,73,63,...,True,False,True,True,True,True,True,True,True,True
2,8,8,17,18,When do you use シ instead of し?,"When do you use ""&"" instead of ""and""?",0,85,90,87,...,False,False,True,False,True,False,True,True,True,True
3,14,14,29,30,What are the laws to change your status from a...,What are the laws to change your status from a...,0,96,96,95,...,False,False,False,False,False,False,False,False,False,False
4,15,15,31,32,What would a Trump presidency mean for current...,How will a Trump presidency affect the student...,1,51,52,46,...,False,False,False,False,False,False,False,False,False,False

In [4]:
print(f"Num samples for is_duplicate == 0: {train_df.loc[train_df['is_duplicate'] == 0].shape[0]}")
print(f"Num samples for is_duplicate == 1: {train_df.loc[train_df['is_duplicate'] == 1].shape[0]}")

Num samples for is_duplicate == 0: 105284
Num samples for is_duplicate == 1: 30467

In [5]:
# TODO: count the number of unique words in questions

In [9]:
# TODO: create a word cloud