In [10]:
import pandas as pd

In [11]:
train_df = pd.read_csv('data/train.csv.zip').dropna()
test_df = pd.read_csv('data/test.csv.zip').dropna()
train_df.head()

/home/omid-dev/Personal/venvs/kaggle/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  These only apply to single line inputs.

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [12]:
print(f"Num samples for is_duplicate == 0: {train_df.loc[train_df['is_duplicate'] == 0].shape[0]}")
print(f"Num samples for is_duplicate == 1: {train_df.loc[train_df['is_duplicate'] == 1].shape[0]}")

Num samples for is_duplicate == 0: 255024
Num samples for is_duplicate == 1: 149263

In [ ]:
# TODO: clean the data